@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.image-pentagon {
  position: relative;
  width: 200px; /* Ajustează dimensiunea după necesități */
  height: 200px;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.image-border{
  background: #D6E9E3;
  padding: 15px;
  rotate: 30deg;
  border-top-left-radius: 80% ;
  border-top-right-radius:70%;
  border-bottom-left-radius:90% ;
  border-bottom-right-radius: 50%;
  
}
